body{
    margin: 0;
    padding: 0;
    font-size: 0;
    background-color: grey;
}

main{
    background-color: grey;
}
header{
    display: grid;
    justify-content: center;
}

.heroimg{
    width: 100%;
}
.roundedimage{
    border-radius: 50%;
    width: 200px;
    border: 1vw solid #444;
    margin-left: 180px;
    margin-top: 5%;
}
.bob{
    border-radius: 50%;
}